<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/girisUyari.css">
</head>
<body>
    <button id="openModal">Popup Aç</button>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <p>Popup içeriği burada olacak.</p>
        </div>
    </div>
    <script src="~/js/girisUyari.js"></script>
</body>
</html>
